<!DOCTYPE html>
<html>
<head>
	<title>Blackjack</title>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

	<!-- FirebaseUI for Web — Auth -->
	<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />

	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>


	<script type="text/javascript" src="js/app.js"></script>

	<link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body ng-app="blackjackApp">
	<div ng-controller="AuthCtrl">
  	<button class="button" ng-click="signIn()">Sign In Anonymously</button>

  	<p ng-if="firebaseUser">Signed in user: <strong>{{ firebaseUser.uid }}</strong></p>
  	<p ng-if="error">Error: <strong>{{ error }}</strong></p>
	</div>

	<div ng-controller="MainCtrl" class="container">
		<div class = "row title">
			<div class="col-xs-3">
  			<h4>Number of Decks</h4>
				<div class="selectDecks button">
					<select ng-model= "numDecks">
						<option value=1>One</option>
						<option value=2>Two</option>
						<option value=3>Three</option>
						<option value=4>Four</option>
						<option value=5>Five</option>
						<option value=6>Six</option>
					</select>
				</div>
				<div class="button">
					<button ng-click = "shuffle()" type="button">Shuffle Decks</button>
				</div>
			</div>
			<div class="col-xs-7 text-center">
				<h1>Blackjack</h1>
			</div>
		</div>
		<div class="row">
			<div class="dealerContainer">
				<div class="col-xs-4 score dealerScore">
					{{dealer.dealerValue}}
				</div>
				<div ng-hide="showCards || player.isBust" class = "col-xs-8 cardContainer">
					<span>
						<img ng-src = "images/cards/{{dealer.hand[0].image}}" class="cardImage">
					</span>
				</div>
				<div ng-show="showCards || player.isBust" class = "col-xs-8 cardContainer">
					<span ng-repeat = "card in dealer.hand">
						<img ng-src = "images/cards/{{card.image}}" class="cardImage">
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="winnerBox">
				<div class="push" ng-show="push">
					"Push"
				</div>
				<div class="playerWins" ng-show="player.wins">
					"Player Wins"
				</div>
				<div class="dealerWins" ng-show="dealer.wins">
					"Dealer Wins"
				</div>
			</div>
		</div>
		<div class="row">
			<div class="playerContainer">
				<div class="col-xs-4 score playerScore">
					<div ng-hide="player.isBust">
						{{player.playerValue}}
					</div>
					<div ng-show="player.isBust">
						{{player.playerValue}} Bust
					</div>
				</div>
				<div class = "col-xs-8 cardContainer">
					<span ng-repeat = "card in player.hand">
						<img ng-src = "images/cards/{{card.image}}" class="cardImage">
					</span>
				</div>
			</div>
		</div>

		<div class="betBox" ng-show="madeBet">
			{{bet}}
		</div>

		<div class="button" ng-show="noMoreBets">
			<button ng-click="hit()">Hit</button>
			<button ng-click="stand(); showCards = true">Stand</button>
		</div>

		<div class="bets button" ng-show="shuffled && !noMoreBets">
			<button ng-click="makeBet(1)">$1</button>
			<button ng-click="makeBet(5)">$5</button>
			<button ng-click="makeBet(25)">$25</button>
			<button ng-click="makeBet(50)">$50</button>
			<button ng-click="makeBet(100)">$100</button>
		</div>

		<div class="deal button">
			<button ng-show="!noMoreBets && shuffled && madeBet" ng-click = "initialDeal(); showCards = false" type="submit">Deal</button>
		</div>

		<div class="bankRoll">
			{{data.bankroll}}
			<button class="button" ng-show="!data.bankroll>0" ng-click="resetBankroll()" type="button" name="button">Reset Bankroll</button>
		</div>
	</div>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDX_-0Gp8CRhARYgVlJ__KI3oOdiOYWtCw",
    authDomain: "blackjackapp-6959d.firebaseapp.com",
    databaseURL: "https://blackjackapp-6959d.firebaseio.com",
    storageBucket: "blackjackapp-6959d.appspot.com",
    messagingSenderId: "651553942495"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>
